@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff") ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --basic-black:         #000000;
  --transparent-black:   rgba(0,0,0,0.3);
  --basic-white:         #ffffff;
  --transparent-white:   rgba(255,255,255,0.3);
  --basic-neutral:       #e1e1e1;

  --color-grey-lightest: #eeeeee;
  --color-grey-lighten:  #DFDFDF;
  --color-grey-light:    #D5D5D5;
  --color-grey:          #666666;
  --color-grey-dark:     #4D4D4D;
  --color-grey-darken:   #444444;
  --color-grey-darkest:  #283136;

  --color-red-light:     #FB565A;
  --color-red:           #E74246;
  --color-red-dark:      #D7373B;

  --color-green-light:   #00CA74;
  --color-green:         #00BC6C;
  --color-green-dark:    #00AA62;

  --color-yellow-light:  #EFC849;
  --color-yellow:        #EAB534;
  --color-yellow-dark:   #E5A722;


}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--color-red-light);
}
.button:hover {
  background-color: var(--color-red);
}
.button:active {
  background-color: var(--color-red-dark);
}
.button:active {
  color: var(--transparent-white);
}

/* Header */
.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.main-header {
  background-color: var(--color-grey-lightest);
}
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}
.main-header-logo:hover {
  opacity: 70%;
}
.main-header-logo:active {
  opacity: 30%;
}
.site-navigation {
  list-style: none;
}
.site-navigation a,
.cart-link{
  color: var(--basic-black);
}
.site-navigation a:hover,
.cart-link:hover {
  color: var(--color-red-light);
}
.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 30%;
}
.slider-list {
  list-style: none;
}
.slider-item h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.slider-item p {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-darkest);
}

/* Main */
.offers-list {
  list-style: none;
}
.offer-item h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.offer-item p {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-darkest);
}
.green-button{
  background-color: var(--color-green-light);
}
.green-button:hover{
  background-color: var(--color-green);
}
.green-button:active{
  background-color: var(--color-green-dark);
}
.yellow-button{
  background-color: var(--color-yellow-light);
}
.yellow-button:hover {
  background-color: var(--color-yellow);
}
.yellow-button:active {
  background-color: var(--color-yellow-dark);
}


.opportunities {
  font-size: 16px;
  line-height: 24px;
}
.opportunities h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.opportunities h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.opportunities-list {
  list-style: none;
}


.features>p{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.features-list {
  list-style: none;
}
.feature-item span{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}


.works-list {
  list-style: none;
}
.work-item {
  opacity: 20%;
}
.work-item:hover {
  opacity: 100%;
}
.work-item:active {
  opacity: 10%;
}


/* Footer */
.footer-contacts {
  background-color: var(--basic-white);
}
.footer-contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.footer-contacts p, .footer-contacts p>a {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-grey);
}


.soc-list {
  list-style: none;
}
.soc-list a {
  background-color: var(--basic-neutral);
}
.soc-list a:hover {
  background-color: var(--color-red);
}
.soc-list a:active{
  background-color: var(--color-red-dark);
}


.lets-friend h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.lets-friend p {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-darken);
}


.filter fieldset {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-darkest);
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.filter-button {
  background-color: var(--color-grey-lightest);
  color: var(--basic-black);
  border: 0;
  outline: none;
}
.filter-button:hover {
  background-color: var(--color-grey-lighten);
  color: var(--basic-black);
}
.filter-button:active {
  background-color: var(--color-grey-light);
  color: var(--transparent-black);
}


.sort-list {
  list-style: none;
  text-transform: uppercase;
}
.catalog h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}
.sort-item {
  font-size: 14px;
  line-height: 18px;
}
.sort-item:hover {
  opacity: 60%;
}
.sort-item:active {
  opacity: 100%;
}


.goods-list {
  list-style: none;
}
.goods-info-panel {
  background-color: var(--color-grey-lightest);
}
.goods-info-panel a:not(.button) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.goods-info-panel a:not(.button):hover {
  color: var(--color-red-light);
}
.goods-info-panel a:not(.button):active {
  color: var(--basic-black);
  opacity: 30%;
}
.goods-info-panel p {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-grey);
}


.control-panel {
  list-style: none;
}
.control-button {
  background-color: var(--color-grey-lightest);
  color: var(--basic-black);
  border: none;
}
.control-button:hover {
  background-color: var(--color-grey-lighten);
  color: var(--basic-black);
}
.control-button:active {
  background-color: var(--color-grey-light);
  color: var(--transparent-black);
}

